<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<p th:text="${admin.name}"></p>
<form role="form" action="/admin/article/write" th:object="${articleForm}"
      method="POST">

    <div class="form-group">
        <label th:for="title">제목</label>
        <input type="text" th:field="*{title}" class="form-control"
               placeholder="제목을 입력하세요">
    </div>
    <div class="invalid-feedback-title" th:errors="*{title}" style="display:block;">
        Please select a valid state.
    </div>

    <div class="form-group">
        <label th:for="body">내용</label>
        <input type="text" th:field="*{body}" class="form-control"
               placeholder="내용을 입력하세요">
    </div>
    <div class="invalid-feedback-body" th:errors="*{body}" style="display:block;">
        Please select a valid state.
    </div>

    <div class="form-check">
        <label th:for="status" class="form-check-label">비공개</label>
        <input type="checkbox" id="status" th:field="*{status}" class="form-check-rank">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br/>
</div> <!-- /container -->
</body>
</html>