<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>TEST</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/user/register">회원 가입</a>
            <a class="btn btn-lg btn-secondary" href="/user/login">유저 로그인</a>
            <a class="btn btn-lg btn-secondary" href="/admin/login">관리자 로그인</a>
        </p>
    </div>
</div> <!-- /container -->
